html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
html *,
body * {
  font-family: "Raleway", sans-serif;
}

body {
  background: #0e1638;
}

button,
input {
  outline: none;
  border: none;
}
button:active, button:hover, button:focus,
input:active,
input:hover,
input:focus {
  outline: none;
  border: none;
}