html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	max-width: 100%;

	* {
		font-family: 'Raleway', sans-serif;
	}
}

body {
	background: #0e1638;
}

button,
input {
	outline: none;
	border: none;

	&:active,
	&:hover,
	&:focus {
		outline: none;
		border: none;
	}
}

img {
	user-select: none !important;
	pointer-events: none;
}
