main {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

section {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.section {
	&--content {
		width: 1100px;
		height: fit-content;
		padding: 0 15px;

		margin: 0 auto;
	}
	&--header {
		&-wrapper {
			width: fit-content;
			margin: 74px auto 50px auto;

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 18px;
		}
		&-name {
			position: relative;

			margin: 0;

			font-weight: 800;
			font-size: 48px;
			line-height: 56px;
			display: flex;
			align-items: center;
			text-align: center;

			background: linear-gradient(
				180deg,
				#dbe5ff 0%,
				#cddbff 27.6%,
				#9eb7f9 59.9%,
				#4868b9 100%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: #ffffff80;
			background-clip: text;
			text-fill-color: transparent;

			text-shadow: 0px -2.00111px 8.00442px rgba(133, 152, 255, 0.46),
				0px 6.00332px 8.00442px rgba(20, 22, 72, 0.87);

			&::after,
			&::before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 92px;
				height: 22px;
				margin: auto 0;
			}

			&::before {
				left: -110px;
				background: url('/assets/images/arrow_left.svg');
				background-size: 92px 22px;
			}
			&::after {
				right: -110px;
				background: url('/assets/images/arrow_right.svg');
				background-size: 92px 22px;
			}
		}
		&-description {
			max-width: 849.26px;
			margin: 0;

			font-weight: 500;
			font-size: 24px;
			line-height: 120%;
			/* or 29px */

			text-align: center;
			font-feature-settings: 'pnum' on, 'lnum' on;

			/* Text/Header 3 */

			color: #e2b5f2;
		}
	}

	&--hero {
		width: 100%;
		height: auto;
		min-height: 1100px;

		// растояние поднятое для следующего блока
		margin-bottom: -440px;

		background: url('/assets/images/background/Фон\ пещера.png');
		background-position: center -40px;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		&-content {
			margin-top: 220px;
			display: flex;
			flex-direction: row;
			align-items: stretch;
		}

		.hero {
			&--content {
				&-wrapper {
					width: 55%;

					display: flex;
					flex-direction: column;
					justify-content: stretch;
					align-items: stretch;
				}
				&-title {
					margin: 0 0 32px 0;

					color: $color-text-white;
					font-weight: 600;
					font-size: 36px;
					line-height: 120%;
				}
				&-description {
					margin: 0 0 90px 0;

					color: #a2cdff;
					font-weight: 500;
					font-size: 21px;
					line-height: 120%;
					font-feature-settings: 'pnum' on, 'lnum' on;
				}
			}

			&--image {
				&-wrapper {
					width: 45%;
					position: relative;
				}

				&-front,
				&-back {
					position: absolute;
					right: 23px;
					top: -70px;
					height: auto;
				}

				&-front {
					z-index: 10;
					width: 530px;
				}

				&-back {
					z-index: 9;
					right: -65px;
					top: -100px;

					width: 680px;

					mix-blend-mode: screen;
					opacity: 0.8;
				}
			}

			&--form {
				&-wrapper {
				}
				&-row {
					display: flex;
					flex-direction: row;
					gap: 30px;
				}
				&-label {
					font-family: 'Raleway';
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 21px;
					/* identical to box height */

					display: flex;
					align-items: center;

					color: #9c94f4;
					margin-bottom: 24px;
				}
				&-input {
					width: 300px;
					background: #111044;
					box-shadow: 3px -2px 7px rgba(195, 22, 255, 0.35),
						inset 0px 0px 10px rgba(193, 138, 237, 0.54),
						inset 0px 0px 0px 1px rgba(192, 138, 237, 0.955);
					backdrop-filter: blur(12px);

					border-radius: 20px;

					font-weight: 500;
					font-size: 18px;
					line-height: 120%;
					/* or 22px */

					display: flex;
					align-items: center;
					font-feature-settings: 'pnum' on, 'lnum' on;
					&::placeholder {
						font-family: 'Raleway', sans-serif;
						font-weight: 500;
						font-size: 18px;
						line-height: 120%;
						/* or 22px */

						display: flex;
						align-items: center;
						font-feature-settings: 'pnum' on, 'lnum' on;

						color: #8a86bf;
					}
					color: #8a86bf;
					padding: 8px 16px;
				}
				&-submit {
				}
			}
		}
	}

	&--pack {
		width: 100%;
		height: auto;
		margin-bottom: 32px;

		.pack {
			&--content {
				width: 1320px;
				display: flex;
				flex-direction: column;
				position: relative;
			}
			&--list {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				&-wrapper {
					width: 1290px;
					padding: 24px 24px;
					box-sizing: border-box;
				}

				&-item {
					position: relative;
					max-width: 410px;
					width: 410px;
					min-height: 172px;

					border-radius: 30px;
					overflow: hidden;
					background: linear-gradient(
						249.84deg,
						rgba(252, 93, 217, 0.4) 3.31%,
						rgba(232, 38, 208, 0.4) 13.49%,
						rgba(139, 35, 194, 0.4) 42.38%,
						rgba(101, 73, 207, 0.4) 66.57%,
						rgba(35, 123, 255, 0.4) 96.16%
					);
					backdrop-filter: blur(14.0171px);

					box-shadow: 3.50427px -3.50427px 8.17664px rgba(195, 22, 255, 0.35),
						0px 4.67236px 4.67236px rgba(0, 0, 0, 0.25),
						inset 0px 0px 4.67236px rgba(255, 255, 255, 0.5),
						inset 0px 0px 16.3533px rgba(193, 138, 237, 0.54),
						inset 0px 0px 70.0855px rgba(24, 8, 69, 0.16);

					&-wrapper {
					}
					&-header {
						z-index: 2;
						position: relative;
						padding: 8px 20px 16px 20px;
						border-bottom: 2px solid #ffffff10;

						background: linear-gradient(
							249.84deg,
							rgba(252, 93, 217, 0.2) 3.31%,
							rgba(232, 38, 208, 0.2) 13.49%,
							rgba(139, 35, 194, 0.2) 42.38%,
							rgba(101, 73, 207, 0.2) 66.57%,
							rgba(35, 123, 255, 0.2) 96.16%
						);
						backdrop-filter: blur(1.5px);
					}
				}
			}

			&--item {
				&-name {
					width: fit-content;
					margin: 0 auto;

					z-index: 3;
					position: relative;
					font-weight: 700;
					font-size: 28px;
					line-height: 38px;
					display: flex;
					align-items: center;
					text-align: center;
					font-feature-settings: 'pnum' on, 'lnum' on;

					color: #ccd1f7;

					text-shadow: 0px -1.16809px 5px rgba(250, 194, 255, 0.39);
					text-align: center;
				}
				&-description {
					width: fit-content;
					margin: 0 auto;

					z-index: 3;
					position: relative;
					font-weight: 400;
					font-size: 21px;
					line-height: 19px;
					/* or 85% */

					text-align: center;
					letter-spacing: 0.02em;
					font-feature-settings: 'pnum' on, 'lnum' on;

					color: #edbbf5;
				}

				&-content {
					&-wrapper {
						padding: 14px 26px 18px 26px;
						box-sizing: border-box;

						button {
							z-index: 1;
							position: relative;
						}
					}
					&-image {
						pointer-events: none;
						max-width: 100%;
						max-height: 100%;
						&-wrapper {
							pointer-events: none;
							position: absolute;
							right: 10px;
							bottom: 40px;

							width: auto;
							height: 141px;
						}

						&-bg {
							z-index: 1;
							position: absolute;
							width: 100%;
							height: 100%;
							object-fit: cover;
							top: 0;
							left: 0;
							mix-blend-mode: lighten;
						}
					}

					&-list {
						&-title {
							font-weight: 600;
							font-size: 17px;
							line-height: 19px;
							/* or 110% */

							letter-spacing: 0.02em;
							font-feature-settings: 'pnum' on, 'lnum' on;

							color: #d1ceef;
						}
						&-wrapper {
							z-index: 1;
							position: relative;
							display: flex;
							flex-direction: column;
							gap: 8px;
						}

						display: flex;
						flex-direction: column;
						gap: 4px;
						margin-bottom: 10px;

						padding-left: 8px;
						&-item {
							font-size: 15px;
							line-height: 20px;
							/* or 19px */

							font-feature-settings: 'pnum' on, 'lnum' on;

							color: #9d96ec;

							list-style: none;
							&::before {
								content: '\2022';
								color: #f97ecf;
								font-size: 32px;
								font-weight: bold;
								display: inline-block;
								align-items: center;
								vertical-align: middle;
								width: 21px;
								margin-left: -10px;
								margin-top: -6px;
							}
						}
					}
				}
			}
		}
	}

	&--ametist {
		width: 100%;
		height: auto;
		min-height: 1150px;
		margin-bottom: -392px;

		background: url('/assets/images/background/Фон\ космос.png');
		background-position: center 92px;
		background-size: 100%;
		background-repeat: no-repeat;

		.ametist {
			&--content {
				width: 1305px;
				display: flex;
				flex-direction: column;
				position: relative;
			}
			&--list {
				box-sizing: border-box;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				&-wrapper {
					width: 1290px;
					padding: 24px 24px;
					box-sizing: border-box;
				}

				&-item {
					&-wrapper {
						height: 100%;
					}
					position: relative;
					max-width: 300px;
					width: 300px;
					min-height: 392px;
					height: 392px;

					border-radius: 30px;
					overflow: hidden;
					background: url('/assets/images/Фон карточка вертикальная.svg');
					box-shadow: 5.38796px -5.38796px 12.5719px rgba(195, 22, 255, 0.35),
						0px 7.18395px 7.18395px rgba(0, 0, 0, 0.25),
						inset 0px 0px 17.9599px rgba(193, 138, 237, 0.54);
				}
			}

			&--item {
				&-content {
					&-wrapper {
						height: 100%;
						box-sizing: border-box;
						padding: 26px;
						display: flex;
						flex-direction: column;
						align-items: space-between;

						.button-cristal {
							margin: 0 auto;
						}
					}
					&-multiply {
						text-align: center;
						margin-bottom: auto;
						font-family: 'Raleway';
						font-style: normal;
						font-weight: 700;
						font-size: 28px;
						line-height: 33px;
						font-feature-settings: 'pnum' on, 'lnum' on;

						/* Text/Header 1 */

						color: #ccd1f7;
					}
					&-image {
						&-item {
							width: 224px;
							height: 224px;
							object-fit: contain;
							margin: auto auto;
						}
						&-bg {
							z-index: 1;
							left: 0;
							top: 0;
							position: absolute;
							mix-blend-mode: screen;
							backdrop-filter: none;
							opacity: 0.4;
						}
					}
				}
			}
		}
	}

	&--elecsir {
		width: 100%;
		height: auto;
		min-height: 1100px;

		// растояние поднятое для следующего блока
		margin-bottom: -380px;

		.elecsir {
			&--content {
				width: 1305px;
				display: flex;
				flex-direction: column;
				position: relative;
			}
			&--list {
				box-sizing: border-box;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				&-wrapper {
					width: 1290px;
					padding: 24px 24px;
					box-sizing: border-box;
				}

				&-item {
					&-wrapper {
						height: 100%;
					}
					position: relative;
					max-width: 300px;
					width: 300px;
					min-height: 392px;
					height: 392px;

					border-radius: 30px;
					overflow: hidden;
					background: url('/assets/images/Фон карточка вертикальная.svg');
					box-shadow: 5.38796px -5.38796px 12.5719px rgba(195, 22, 255, 0.35),
						0px 7.18395px 7.18395px rgba(0, 0, 0, 0.25),
						inset 0px 0px 17.9599px rgba(193, 138, 237, 0.54);
				}
			}

			&--item {
				&-content {
					&-wrapper {
						height: 100%;
						box-sizing: border-box;
						padding: 26px;
						display: flex;
						flex-direction: column;
						align-items: space-between;

						.button-cristal {
							margin: 0 auto;
						}
					}
					&-multiply {
						text-align: center;
						margin-bottom: auto;
						font-family: 'Raleway';
						font-style: normal;
						font-weight: 700;
						font-size: 28px;
						line-height: 33px;
						font-feature-settings: 'pnum' on, 'lnum' on;

						/* Text/Header 1 */

						color: #ccd1f7;
					}
					&-image {
						&-item {
							width: 224px;
							height: 224px;
							object-fit: contain;
							margin: auto auto;
						}
						&-bg {
							z-index: 1;
							left: 0;
							top: 0;
							position: absolute;
							mix-blend-mode: screen;
							backdrop-filter: none;
							opacity: 0.4;
						}
					}
				}
			}
		}
	}

	&--amulet {
		width: 100%;
		height: auto;
		min-height: 1226px;

		// растояние поднятое для следующего блока
		margin-bottom: -380px;

		background: url('/assets/images/background/Фон\ звезды.png');
		background-position: center -40px;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		.amulet {
			&--content {
				width: 1305px;
				display: flex;
				flex-direction: column;
				position: relative;
			}
			&--list {
				box-sizing: border-box;
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				&-wrapper {
					width: 1290px;
					padding: 24px 24px;
					box-sizing: border-box;
				}

				&-item {
					&-wrapper {
						height: 100%;
					}
					position: relative;
					max-width: 300px;
					width: 300px;
					min-height: 392px;
					height: 392px;

					border-radius: 30px;
					overflow: hidden;
					background: url('/assets/images/Фон карточка вертикальная.svg');
					box-shadow: 5.38796px -5.38796px 12.5719px rgba(195, 22, 255, 0.35),
						0px 7.18395px 7.18395px rgba(0, 0, 0, 0.25),
						inset 0px 0px 17.9599px rgba(193, 138, 237, 0.54);
				}
			}

			&--item {
				&-content {
					&-wrapper {
						height: 100%;
						box-sizing: border-box;
						padding: 26px;
						display: flex;
						flex-direction: column;
						align-items: space-between;

						.button-cristal {
							margin: 0 auto;
						}
					}
					&-multiply {
						text-align: center;
						margin-bottom: auto;
						font-family: 'Raleway';
						font-style: normal;
						font-weight: 700;
						font-size: 28px;
						line-height: 33px;
						font-feature-settings: 'pnum' on, 'lnum' on;

						/* Text/Header 1 */

						color: #ccd1f7;
					}
					&-image {
						&-item {
							width: 224px;
							height: 224px;
							object-fit: contain;
							margin: auto auto;
						}
						&-bg {
							z-index: 1;
							left: 0;
							top: 0;
							position: absolute;
							mix-blend-mode: screen;
							backdrop-filter: none;
							opacity: 0.4;
						}
					}
				}
			}
		}
	}

	&--payment {
		position: relative;
		width: 100%;
		height: auto;
		min-height: 1100px;
		padding-bottom: 64px;

		background: url('/assets/images/background/Фон\ оплаты.png');
		background-position: center -40px;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		&-devider {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;

			&.top {
				top: -22px;
			}
			&.bottom {
				bottom: -22px;
			}
			&-line {
				&::before,
				&::after {
					content: '';
					position: absolute;
					width: calc(50% - 120px);
					height: 1px;
					background: #404e88;
				}
				&::before {
					left: 0;
				}
				&::after {
					right: 0;
				}

				&.top {
					&::before,
					&::after {
						top: 0;
					}
				}
				&.bottom {
					&::before,
					&::after {
						bottom: 0;
					}
				}
			}
		}

		.payment {
			&--step {
				&-wrapper {
					display: flex;
					flex-direction: row;
					gap: 64px;
					justify-content: space-between;
				}
				&-item {
					display: flex;
					flex-direction: column;
					gap: 24px;

					width: calc((100% / 3) - 64px);
				}
			}
			&--item {
				&-image {
					&-wrapper {
						position: relative;
						max-width: 100%;

						&.devider {
							&::after {
								content: '';
								position: absolute;
								top: 0;
								bottom: 0;
								right: -72px;
								margin: auto 0;
								background-image: url('/assets/images/block/number\ devider.svg');
								width: 48px;
								height: 48px;
								background-size: 48px 48px;
								background-position: center;
								background-repeat: no-repeat;
							}
						}
					}
					max-width: 100%;
					filter: drop-shadow(
							7.39568px -7.39568px 17.2566px rgba(195, 22, 255, 0.35)
						)
						drop-shadow(0px 9.86091px 9.86091px rgba(0, 0, 0, 0.25));
				}
				&-text {
					max-width: 100%;

					font-family: 'Raleway';
					font-style: normal;
					font-weight: 500;
					font-size: 26px;
					line-height: 120%;
					/* or 34px */

					text-align: center;
					font-feature-settings: 'pnum' on, 'lnum' on;

					/* Text/Color1 */

					color: #bbb8e2;

					text-shadow: 0px 9px 15px #0b1836, 0px 4px 4px rgba(0, 0, 0, 0.6);
				}
			}
		}

		.varanty {
			&--list {
				&-wrapper {
					max-width: 100%;
					width: 100%;

					display: flex;
					flex-direction: column;
					gap: 34px;
				}
				&-item {
					display: flex;
					flex-direction: row;
					gap: 54px;

					align-items: center;
				}
			}

			&--item {
				&-image {
					width: 88px;
					height: 88px;
					display: flex;
				}
				&-text {
					font-family: 'Raleway';
					font-style: normal;
					font-weight: 400;
					font-size: 21px;
					line-height: 38px;

					display: flex;
					align-items: center;
					font-feature-settings: 'pnum' on, 'lnum' on;

					color: #ccd1f7;
				}
			}
		}
	}

	&--varanty {
		z-index: 2;
		width: 100%;
		height: auto;
	}

	&--feedback {
		width: 100%;
		height: auto;
		min-height: 944px;

		// растояние поднятое для следующего блока
		margin-bottom: -520px;

		background: url('/assets/images/background/Фон\ Форма\ обратной\ связи.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;

		display: flex;
		flex-direction: column;

		.feedback {
			&--content {
				width: 1320px;
				display: flex;
				flex-direction: row;
				align-items: stretch;
				justify-content: space-evenly;
				position: relative;

				&-text {
					font-family: 'Raleway';
					font-style: normal;
					font-weight: 400;
					font-size: 21px;
					line-height: 38px;
					display: flex;
					align-items: center;
					font-feature-settings: 'pnum' on, 'lnum' on;
					color: #ccd1f7;
				}
			}

			&--column {
				width: 40%;
				max-width: 50%;
				height: auto;

				display: flex;
				flex-direction: column;

				&-row {
					width: 100%;
					max-width: 100%;

					display: flex;
					flex-direction: column;
					gap: 24px;
					margin-bottom: 24px;

					&.flex-row {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
					}
				}

				&-devider {
					width: 100%;
					height: auto;
					object-fit: contain;
					margin-bottom: 24px;
				}
			}

			&--social {
				&-title {
					font-weight: 500;
					font-size: 28px;
					line-height: 120%;
					/* or 34px */
					font-feature-settings: 'pnum' on, 'lnum' on;
					color: #b780d9;
				}
				&-list {
					display: flex;
					flex-direction: row;
					align-items: center;
					justify-content: space-between;

					&-wrapper {
						display: flex;
						flex-direction: column;
						gap: 15px;
					}
					&-vertical {
						display: flex;
						flex-direction: column;
						gap: 10px;
					}

					&-item {
						width: fit-content;
						height: fit-content;

						display: flex;
						align-items: center;
						justify-content: center;
					}
				}
			}
		}
	}
}

.copyright {
	margin: auto auto 0 auto;
	max-width: fit-content;
	padding: 0 0 32px 0;
	font-weight: 300;
	font-size: 22px;
	line-height: 26px;
	text-align: center;

	color: #ccd1f7;
}
