main {
	height: 100%;
	width: 100%;

	display: flex;
	flex-direction: column;
}

section {
	width: 100%;
	max-width: 100%;
	height: auto;
}
.section {
	&--content {
		width: 1100px;
		height: fit-content;
		padding: 0 15px;

		margin: 0 auto;
	}
	&--header {
		&-wrapper {
			width: fit-content;
			margin: 74px auto 50px auto;

			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 18px;
		}
		&-name {
			position: relative;

			margin: 0;

			font-weight: 800;
			font-size: 48px;
			line-height: 56px;
			display: flex;
			align-items: center;
			text-align: center;

			background: linear-gradient(
				180deg,
				#dbe5ff 0%,
				#cddbff 27.6%,
				#9eb7f9 59.9%,
				#4868b9 100%
			);
			-webkit-background-clip: text;
			-webkit-text-fill-color: #ffffff80;
			background-clip: text;
			text-fill-color: transparent;

			text-shadow: 0px -2.00111px 8.00442px rgba(133, 152, 255, 0.46),
				0px 6.00332px 8.00442px rgba(20, 22, 72, 0.87);

			&::after,
			&::before {
				content: '';
				position: absolute;
				top: 0;
				bottom: 0;
				width: 92px;
				height: 22px;
				margin: auto 0;
			}

			&::before {
				left: -110px;
				background: url('/assets/images/arrow_left.svg');
				background-size: 92px 22px;
			}
			&::after {
				right: -110px;
				background: url('/assets/images/arrow_right.svg');
				background-size: 92px 22px;
			}
		}
		&-description {
			max-width: 849.26px;
			margin: 0;

			font-weight: 500;
			font-size: 24px;
			line-height: 120%;
			/* or 29px */

			text-align: center;
			font-feature-settings: 'pnum' on, 'lnum' on;

			/* Text/Header 3 */

			color: #e2b5f2;
		}
	}

	&--hero {
		width: 100%;
		height: auto;
		min-height: 1100px;

		// растояние поднятое для следующего блока
		margin-bottom: -380px;

		background: url('/assets/images/background/Фон\ пещера.png');
		background-position: center -40px;
		background-size: 100% 100%;
		background-repeat: no-repeat;

		&-content {
			margin-top: 220px;
			display: flex;
			flex-direction: row;
			align-items: stretch;
		}

		.hero {
			&--content {
				&-wrapper {
					width: 55%;

					display: flex;
					flex-direction: column;
					justify-content: stretch;
					align-items: stretch;
				}
				&-title {
					margin: 0 0 32px 0;

					color: $color-text-white;
					font-weight: 600;
					font-size: 36px;
					line-height: 120%;
				}
				&-description {
					margin: 0 0 90px 0;

					color: #a2cdff;
					font-weight: 500;
					font-size: 21px;
					line-height: 120%;
					font-feature-settings: 'pnum' on, 'lnum' on;
				}
			}

			&--image {
				&-wrapper {
					width: 45%;
					position: relative;
				}

				&-front,
				&-back {
					position: absolute;
					right: 23px;
					top: -70px;
					height: auto;
				}

				&-front {
					z-index: 10;
					width: 530px;
				}

				&-back {
					z-index: 9;
					right: -65px;
					top: -100px;

					width: 680px;

					mix-blend-mode: screen;
					opacity: 0.8;
				}
			}

			&--form {
				&-wrapper {
				}
				&-row {
					display: flex;
					flex-direction: row;
					gap: 30px;
				}
				&-label {
					font-family: 'Raleway';
					font-style: normal;
					font-weight: 600;
					font-size: 18px;
					line-height: 21px;
					/* identical to box height */

					display: flex;
					align-items: center;

					color: #9c94f4;
					margin-bottom: 24px;
				}
				&-input {
					width: 300px;
					background: #111044;
					box-shadow: 3px -2px 7px rgba(195, 22, 255, 0.35),
						inset 0px 0px 10px rgba(193, 138, 237, 0.54),
						inset 0px 0px 0px 1px rgba(192, 138, 237, 0.955);
					backdrop-filter: blur(12px);

					border-radius: 20px;

					font-weight: 500;
					font-size: 18px;
					line-height: 120%;
					/* or 22px */

					display: flex;
					align-items: center;
					font-feature-settings: 'pnum' on, 'lnum' on;
					&::placeholder {
						font-family: 'Raleway', sans-serif;
						font-weight: 500;
						font-size: 18px;
						line-height: 120%;
						/* or 22px */

						display: flex;
						align-items: center;
						font-feature-settings: 'pnum' on, 'lnum' on;

						color: #8a86bf;
					}
					color: #8a86bf;
					padding: 8px 16px;
				}
				&-submit {
				}
			}
		}
	}

	&--ametist {
		width: 100%;
		height: auto;
		min-height: 1100px;

		// растояние поднятое для следующего блока
		margin-bottom: -520px;

		background: url('/assets/images/background/Фон\ космос.png');
		background-position: center -40px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--elecsir {
		width: 100%;
		height: auto;
		min-height: 1100px;

		// растояние поднятое для следующего блока
		margin-bottom: -380px;
	}

	&--amulet {
		width: 100%;
		height: auto;
		min-height: 1226px;

		// растояние поднятое для следующего блока
		margin-bottom: -380px;

		background: url('/assets/images/background/Фон\ звезды.png');
		background-position: center -40px;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&--payment {
		position: relative;
		width: 100%;
		height: auto;
		min-height: 1100px;

		background: url('/assets/images/background/Фон\ оплаты.png');
		background-position: center -40px;
		background-size: cover;
		background-repeat: no-repeat;

		&-devider {
			position: absolute;
			left: 0;
			right: 0;
			margin: 0 auto;

			&.top {
				top: -22px;
			}
			&.bottom {
				bottom: -22px;
			}
			&-line {
				&::before,
				&::after {
					content: '';
					position: absolute;
					width: calc(50% - 120px);
					height: 1px;
					background: #404e88;
				}
				&::before {
					left: 0;
				}
				&::after {
					right: 0;
				}

				&.top {
					&::before,
					&::after {
						top: 0;
					}
				}
				&.bottom {
					&::before,
					&::after {
						bottom: 0;
					}
				}
			}
		}

		.payment {
			&--step {
				&-wrapper {
					display: flex;
					flex-direction: row;
					gap: 64px;
				}
				&-item {
					display: flex;
					flex-direction: column;
					gap: 24px;

					&-image {
						width: 260px;
					}
					&-text {
						max-width: 100%;

						font-family: 'Raleway';
						font-style: normal;
						font-weight: 500;
						font-size: 28px;
						line-height: 120%;
						/* or 34px */

						text-align: center;
						font-feature-settings: 'pnum' on, 'lnum' on;

						/* Text/Color1 */

						color: #bbb8e2;

						text-shadow: 0px 9px 15px #0b1836, 0px 4px 4px rgba(0, 0, 0, 0.6);
					}
				}
			}
		}

		.varanty {
			&--list {
				&-wrapper {
					max-width: 100%;
					width: 100%;

					display: flex;
					flex-direction: column;
					gap: 34px;
				}
				&-item {
					display: flex;
					flex-direction: row;
					gap: 54px;

					align-items: center;
				}
			}

			&--item {
				&-image {
					width: 88px;
					height: 88px;
					display: flex;
				}
				&-text {
					font-family: 'Raleway';
					font-style: normal;
					font-weight: 400;
					font-size: 21px;
					line-height: 38px;

					display: flex;
					align-items: center;
					font-feature-settings: 'pnum' on, 'lnum' on;

					color: #ccd1f7;
				}
			}
		}
	}

	&--varanty {
		z-index: 2;
		width: 100%;
		height: auto;
	}

	&--feedback {
		width: 100%;
		height: auto;
		min-height: 944px;

		// растояние поднятое для следующего блока
		margin-bottom: -520px;

		background: url('/assets/images/background/Фон\ Форма\ обратной\ связи.png');
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
}
