@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
html *,
body * {
  font-family: "Raleway", sans-serif;
}

body {
  background: #0e1638;
}

button,
input {
  outline: none;
  border: none;
}
button:active, button:hover, button:focus,
input:active,
input:hover,
input:focus {
  outline: none;
  border: none;
}

img {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  pointer-events: none;
}

.go-button-prev, .go-button-next {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: transform 0.4s cubic-bezier(0.39, 0.575, 0.565, 1);
}
.go-button-prev::after, .go-button-next::after {
  content: none;
}
.go-button-prev:hover, .go-button-next:hover {
  transform: scale(1.14);
}
.go-button-prev {
  left: -24px;
  background: url("/assets/images/icons/arrow left.svg");
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.go-button-next {
  right: -24px;
  background: url("/assets/images/icons/arrow right.svg");
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section--content {
  width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 15px;
  margin: 0 auto;
}
.section--header-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 74px auto 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.section--header-name {
  position: relative;
  margin: 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #dbe5ff 0%, #cddbff 27.6%, #9eb7f9 59.9%, #4868b9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5019607843);
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px -2.00111px 8.00442px rgba(133, 152, 255, 0.46), 0px 6.00332px 8.00442px rgba(20, 22, 72, 0.87);
}
.section--header-name::after, .section--header-name::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 92px;
  height: 22px;
  margin: auto 0;
}
.section--header-name::before {
  left: -110px;
  background: url("/assets/images/arrow_left.svg");
  background-size: 92px 22px;
}
.section--header-name::after {
  right: -110px;
  background: url("/assets/images/arrow_right.svg");
  background-size: 92px 22px;
}
.section--header-description {
  max-width: 849.26px;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Text/Header 3 */
  color: #e2b5f2;
}
.section--hero {
  width: 100%;
  height: auto;
  min-height: 1100px;
  margin-bottom: -440px;
  background: url("/assets/images/background/Фон пещера.png");
  background-position: center -40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section--hero-content {
  margin-top: 220px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.section--hero .hero--content-wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.section--hero .hero--content-title {
  margin: 0 0 32px 0;
  color: #ccd1f7;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
}
.section--hero .hero--content-description {
  margin: 0 0 90px 0;
  color: #a2cdff;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
}
.section--hero .hero--image-wrapper {
  width: 45%;
  position: relative;
}
.section--hero .hero--image-front, .section--hero .hero--image-back {
  position: absolute;
  right: 23px;
  top: -70px;
  height: auto;
}
.section--hero .hero--image-front {
  z-index: 10;
  width: 530px;
}
.section--hero .hero--image-back {
  z-index: 9;
  right: -65px;
  top: -100px;
  width: 680px;
  mix-blend-mode: screen;
  opacity: 0.8;
}
.section--hero .hero--form-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.section--hero .hero--form-label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #9c94f4;
  margin-bottom: 24px;
}
.section--hero .hero--form-input {
  width: 300px;
  background: #111044;
  box-shadow: 3px -2px 7px rgba(195, 22, 255, 0.35), inset 0px 0px 10px rgba(193, 138, 237, 0.54), inset 0px 0px 0px 1px rgba(192, 138, 237, 0.955);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #8a86bf;
  padding: 8px 16px;
}
.section--hero .hero--form-input::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #8a86bf;
}
.section--hero .hero--form-input:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #8a86bf;
}
.section--hero .hero--form-input::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #8a86bf;
}
.section--pack {
  width: 100%;
  height: auto;
  margin-bottom: 32px;
}
.section--pack .pack--content {
  width: 1320px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section--pack .pack--list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section--pack .pack--list-wrapper {
  width: 1290px;
  padding: 24px 24px;
  box-sizing: border-box;
}
.section--pack .pack--list-item {
  position: relative;
  max-width: 410px;
  width: 410px;
  min-height: 172px;
  border-radius: 30px;
  overflow: hidden;
  background: linear-gradient(249.84deg, rgba(252, 93, 217, 0.4) 3.31%, rgba(232, 38, 208, 0.4) 13.49%, rgba(139, 35, 194, 0.4) 42.38%, rgba(101, 73, 207, 0.4) 66.57%, rgba(35, 123, 255, 0.4) 96.16%);
  -webkit-backdrop-filter: blur(14.0171px);
          backdrop-filter: blur(14.0171px);
  box-shadow: 3.50427px -3.50427px 8.17664px rgba(195, 22, 255, 0.35), 0px 4.67236px 4.67236px rgba(0, 0, 0, 0.25), inset 0px 0px 4.67236px rgba(255, 255, 255, 0.5), inset 0px 0px 16.3533px rgba(193, 138, 237, 0.54), inset 0px 0px 70.0855px rgba(24, 8, 69, 0.16);
}
.section--pack .pack--list-item-header {
  z-index: 2;
  position: relative;
  padding: 8px 20px 16px 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.062745098);
  background: linear-gradient(249.84deg, rgba(252, 93, 217, 0.2) 3.31%, rgba(232, 38, 208, 0.2) 13.49%, rgba(139, 35, 194, 0.2) 42.38%, rgba(101, 73, 207, 0.2) 66.57%, rgba(35, 123, 255, 0.2) 96.16%);
  -webkit-backdrop-filter: blur(1.5px);
          backdrop-filter: blur(1.5px);
}
.section--pack .pack--item-name {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  z-index: 3;
  position: relative;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ccd1f7;
  text-shadow: 0px -1.16809px 5px rgba(250, 194, 255, 0.39);
  text-align: center;
}
.section--pack .pack--item-description {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  z-index: 3;
  position: relative;
  font-weight: 400;
  font-size: 21px;
  line-height: 19px;
  /* or 85% */
  text-align: center;
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #edbbf5;
}
.section--pack .pack--item-content-wrapper {
  padding: 14px 26px 18px 26px;
  box-sizing: border-box;
}
.section--pack .pack--item-content-wrapper button {
  z-index: 1;
  position: relative;
}
.section--pack .pack--item-content-image {
  pointer-events: none;
  max-width: 100%;
  max-height: 100%;
}
.section--pack .pack--item-content-image-wrapper {
  pointer-events: none;
  position: absolute;
  right: 10px;
  bottom: 40px;
  width: auto;
  height: 141px;
}
.section--pack .pack--item-content-image-bg {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  left: 0;
  mix-blend-mode: lighten;
}
.section--pack .pack--item-content-list {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 10px;
  padding-left: 8px;
}
.section--pack .pack--item-content-list-title {
  font-weight: 600;
  font-size: 17px;
  line-height: 19px;
  /* or 110% */
  letter-spacing: 0.02em;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #d1ceef;
}
.section--pack .pack--item-content-list-wrapper {
  z-index: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.section--pack .pack--item-content-list-item {
  font-size: 15px;
  line-height: 20px;
  /* or 19px */
  font-feature-settings: "pnum" on, "lnum" on;
  color: #9d96ec;
  list-style: none;
}
.section--pack .pack--item-content-list-item::before {
  content: "•";
  color: #f97ecf;
  font-size: 32px;
  font-weight: bold;
  display: inline-block;
  align-items: center;
  vertical-align: middle;
  width: 21px;
  margin-left: -10px;
  margin-top: -6px;
}
.section--ametist {
  width: 100%;
  height: auto;
  min-height: 1150px;
  margin-bottom: -392px;
  background: url("/assets/images/background/Фон космос.png");
  background-position: center 92px;
  background-size: 100%;
  background-repeat: no-repeat;
}
.section--ametist .ametist--content {
  width: 1305px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section--ametist .ametist--list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section--ametist .ametist--list-wrapper {
  width: 1290px;
  padding: 24px 24px;
  box-sizing: border-box;
}
.section--ametist .ametist--list-item {
  position: relative;
  max-width: 300px;
  width: 300px;
  min-height: 392px;
  height: 392px;
  border-radius: 30px;
  overflow: hidden;
  background: url("/assets/images/Фон карточка вертикальная.svg");
  box-shadow: 5.38796px -5.38796px 12.5719px rgba(195, 22, 255, 0.35), 0px 7.18395px 7.18395px rgba(0, 0, 0, 0.25), inset 0px 0px 17.9599px rgba(193, 138, 237, 0.54);
}
.section--ametist .ametist--list-item-wrapper {
  height: 100%;
}
.section--ametist .ametist--item-content-wrapper {
  height: 100%;
  box-sizing: border-box;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.section--ametist .ametist--item-content-wrapper .button-cristal {
  margin: 0 auto;
}
.section--ametist .ametist--item-content-multiply {
  text-align: center;
  margin-bottom: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Text/Header 1 */
  color: #CCD1F7;
}
.section--ametist .ametist--item-content-image-item {
  width: 224px;
  height: 224px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto auto;
}
.section--ametist .ametist--item-content-image-bg {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  mix-blend-mode: screen;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  opacity: 0.4;
}
.section--elecsir {
  width: 100%;
  height: auto;
  min-height: 1100px;
  margin-bottom: -380px;
}
.section--elecsir .elecsir--content {
  width: 1305px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section--elecsir .elecsir--list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section--elecsir .elecsir--list-wrapper {
  width: 1290px;
  padding: 24px 24px;
  box-sizing: border-box;
}
.section--elecsir .elecsir--list-item {
  position: relative;
  max-width: 300px;
  width: 300px;
  min-height: 392px;
  height: 392px;
  border-radius: 30px;
  overflow: hidden;
  background: url("/assets/images/Фон карточка вертикальная.svg");
  box-shadow: 5.38796px -5.38796px 12.5719px rgba(195, 22, 255, 0.35), 0px 7.18395px 7.18395px rgba(0, 0, 0, 0.25), inset 0px 0px 17.9599px rgba(193, 138, 237, 0.54);
}
.section--elecsir .elecsir--list-item-wrapper {
  height: 100%;
}
.section--elecsir .elecsir--item-content-wrapper {
  height: 100%;
  box-sizing: border-box;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.section--elecsir .elecsir--item-content-wrapper .button-cristal {
  margin: 0 auto;
}
.section--elecsir .elecsir--item-content-multiply {
  text-align: center;
  margin-bottom: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Text/Header 1 */
  color: #CCD1F7;
}
.section--elecsir .elecsir--item-content-image-item {
  width: 224px;
  height: 224px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto auto;
}
.section--elecsir .elecsir--item-content-image-bg {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  mix-blend-mode: screen;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  opacity: 0.4;
}
.section--amulet {
  width: 100%;
  height: auto;
  min-height: 1226px;
  margin-bottom: -380px;
  background: url("/assets/images/background/Фон звезды.png");
  background-position: center -40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section--amulet .amulet--content {
  width: 1305px;
  display: flex;
  flex-direction: column;
  position: relative;
}
.section--amulet .amulet--list {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.section--amulet .amulet--list-wrapper {
  width: 1290px;
  padding: 24px 24px;
  box-sizing: border-box;
}
.section--amulet .amulet--list-item {
  position: relative;
  max-width: 300px;
  width: 300px;
  min-height: 392px;
  height: 392px;
  border-radius: 30px;
  overflow: hidden;
  background: url("/assets/images/Фон карточка вертикальная.svg");
  box-shadow: 5.38796px -5.38796px 12.5719px rgba(195, 22, 255, 0.35), 0px 7.18395px 7.18395px rgba(0, 0, 0, 0.25), inset 0px 0px 17.9599px rgba(193, 138, 237, 0.54);
}
.section--amulet .amulet--list-item-wrapper {
  height: 100%;
}
.section--amulet .amulet--item-content-wrapper {
  height: 100%;
  box-sizing: border-box;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
}
.section--amulet .amulet--item-content-wrapper .button-cristal {
  margin: 0 auto;
}
.section--amulet .amulet--item-content-multiply {
  text-align: center;
  margin-bottom: auto;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Text/Header 1 */
  color: #CCD1F7;
}
.section--amulet .amulet--item-content-image-item {
  width: 224px;
  height: 224px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto auto;
}
.section--amulet .amulet--item-content-image-bg {
  z-index: 1;
  left: 0;
  top: 0;
  position: absolute;
  mix-blend-mode: screen;
  -webkit-backdrop-filter: none;
          backdrop-filter: none;
  opacity: 0.4;
}
.section--payment {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1100px;
  padding-bottom: 64px;
  background: url("/assets/images/background/Фон оплаты.png");
  background-position: center -40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section--payment-devider {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section--payment-devider.top {
  top: -22px;
}
.section--payment-devider.bottom {
  bottom: -22px;
}
.section--payment-devider-line::before, .section--payment-devider-line::after {
  content: "";
  position: absolute;
  width: calc(50% - 120px);
  height: 1px;
  background: #404e88;
}
.section--payment-devider-line::before {
  left: 0;
}
.section--payment-devider-line::after {
  right: 0;
}
.section--payment-devider-line.top::before, .section--payment-devider-line.top::after {
  top: 0;
}
.section--payment-devider-line.bottom::before, .section--payment-devider-line.bottom::after {
  bottom: 0;
}
.section--payment .payment--step-wrapper {
  display: flex;
  flex-direction: row;
  gap: 64px;
  justify-content: space-between;
}
.section--payment .payment--step-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: calc(33.3333333333% - 64px);
}
.section--payment .payment--item-image {
  max-width: 100%;
  filter: drop-shadow(7.39568px -7.39568px 17.2566px rgba(195, 22, 255, 0.35)) drop-shadow(0px 9.86091px 9.86091px rgba(0, 0, 0, 0.25));
}
.section--payment .payment--item-image-wrapper {
  position: relative;
  max-width: 100%;
}
.section--payment .payment--item-image-wrapper.devider::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: -72px;
  margin: auto 0;
  background-image: url("/assets/images/block/number devider.svg");
  width: 48px;
  height: 48px;
  background-size: 48px 48px;
  background-position: center;
  background-repeat: no-repeat;
}
.section--payment .payment--item-text {
  max-width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 120%;
  /* or 34px */
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Text/Color1 */
  color: #bbb8e2;
  text-shadow: 0px 9px 15px #0b1836, 0px 4px 4px rgba(0, 0, 0, 0.6);
}
.section--payment .varanty--list-wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.section--payment .varanty--list-item {
  display: flex;
  flex-direction: row;
  gap: 54px;
  align-items: center;
}
.section--payment .varanty--item-image {
  width: 88px;
  height: 88px;
  display: flex;
}
.section--payment .varanty--item-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 38px;
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ccd1f7;
}
.section--varanty {
  z-index: 2;
  width: 100%;
  height: auto;
}
.section--feedback {
  width: 100%;
  height: auto;
  min-height: 944px;
  margin-bottom: -520px;
  background: url("/assets/images/background/Фон Форма обратной связи.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.section--feedback .feedback--content {
  width: 1320px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  position: relative;
}
.section--feedback .feedback--content-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 92%;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #CCD1F7;
}
.section--feedback .feedback--column {
  width: 50%;
  max-width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.button-cristal {
  position: relative;
  height: 50px;
  width: 189px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(105.68deg, #eb3fda 0.25%, #cb18b9 11.71%, #564ab5 64.84%, #3473d2 87.75%, #177fde 100.25%);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 2.98148px 7.17207px rgba(0, 0, 0, 0.32), 0px 0px 8.86871px rgba(0, 0, 0, 0.4);
  border-radius: 100px;
  overflow: hidden;
  pointer-events: all;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  box-shadow: 0px 2.98148px 7.17207px rgba(0, 0, 0, 0.32), 0px 0px 8.86871px rgba(0, 0, 0, 0.4);
  transition: all 0.4s cubic-bezier(0.67, 0.19, 0.43, 1.02);
  transition-property: transform;
}
.button-cristal:hover {
  transform: translateY(-8px);
}
.button-cristal span {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 700;
  font-size: 18px;
  color: #dddcff;
  text-shadow: 0px -1.98765px 3.9753px rgba(255, 255, 255, 0.71), 0px 0.993826px 0.993826px rgba(40, 46, 108, 0.65), 0px 1.98765px 1.98765px rgba(42, 29, 96, 0.67);
}
.button-cristal-stars, .button-cristal-blink {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 189px;
  -o-object-fit: cover;
     object-fit: cover;
}
.button-cristal-stars {
  z-index: 2;
  mix-blend-mode: screen;
}
.button-cristal-blink {
  z-index: 1;
}
.button-cristal-pretty::after, .button-cristal-pretty::before {
  content: "";
  z-index: 10;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  height: 36px;
  width: 19px;
}
.button-cristal-pretty::after {
  right: -2px;
  background: url("/assets/images/button border right.svg");
  background-size: 19px 36px;
}
.button-cristal-pretty::before {
  left: -2px;
  background: url("/assets/images/button border left.svg");
  background-size: 19px 36px;
}

header {
  z-index: 1200;
  position: fixed;
  left: auto;
  top: -11px;
  right: auto;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header--content {
  width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.header--content-wrapper {
  width: 1520.38px;
  height: 246px;
  margin: 0 auto;
  background: url("/assets/images/Плашка Меню.png");
  background-position: center -10px;
  background-size: 100% 246px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
  transform: translateX(-3px);
}
.header--menu-list {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  color: #ccd1f7;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  pointer-events: all;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.header--logo {
  height: 110px;
  transform: translateY(10px);
}
.header--logo-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
  transform: translateX(-5px);
}