@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
html *,
body * {
  font-family: "Raleway", sans-serif;
}

body {
  background: #0e1638;
}

button,
input {
  outline: none;
  border: none;
}
button:active, button:hover, button:focus,
input:active,
input:hover,
input:focus {
  outline: none;
  border: none;
}

img {
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
      -ms-user-select: none !important;
          user-select: none !important;
  pointer-events: none;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

section {
  width: 100%;
  max-width: 100%;
  height: auto;
}

.section--content {
  width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 15px;
  margin: 0 auto;
}
.section--header-wrapper {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 74px auto 50px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.section--header-name {
  position: relative;
  margin: 0;
  font-weight: 800;
  font-size: 48px;
  line-height: 56px;
  display: flex;
  align-items: center;
  text-align: center;
  background: linear-gradient(180deg, #dbe5ff 0%, #cddbff 27.6%, #9eb7f9 59.9%, #4868b9 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.5019607843);
  background-clip: text;
  text-fill-color: transparent;
  text-shadow: 0px -2.00111px 8.00442px rgba(133, 152, 255, 0.46), 0px 6.00332px 8.00442px rgba(20, 22, 72, 0.87);
}
.section--header-name::after, .section--header-name::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 92px;
  height: 22px;
  margin: auto 0;
}
.section--header-name::before {
  left: -110px;
  background: url("/assets/images/arrow_left.svg");
  background-size: 92px 22px;
}
.section--header-name::after {
  right: -110px;
  background: url("/assets/images/arrow_right.svg");
  background-size: 92px 22px;
}
.section--header-description {
  max-width: 849.26px;
  margin: 0;
  font-weight: 500;
  font-size: 24px;
  line-height: 120%;
  /* or 29px */
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Text/Header 3 */
  color: #e2b5f2;
}
.section--hero {
  width: 100%;
  height: auto;
  min-height: 1100px;
  margin-bottom: -380px;
  background: url("/assets/images/background/Фон пещера.png");
  background-position: center -40px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section--hero-content {
  margin-top: 220px;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.section--hero .hero--content-wrapper {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;
}
.section--hero .hero--content-title {
  margin: 0 0 32px 0;
  color: #ccd1f7;
  font-weight: 600;
  font-size: 36px;
  line-height: 120%;
}
.section--hero .hero--content-description {
  margin: 0 0 90px 0;
  color: #a2cdff;
  font-weight: 500;
  font-size: 21px;
  line-height: 120%;
  font-feature-settings: "pnum" on, "lnum" on;
}
.section--hero .hero--image-wrapper {
  width: 45%;
  position: relative;
}
.section--hero .hero--image-front, .section--hero .hero--image-back {
  position: absolute;
  right: 23px;
  top: -70px;
  height: auto;
}
.section--hero .hero--image-front {
  z-index: 10;
  width: 530px;
}
.section--hero .hero--image-back {
  z-index: 9;
  right: -65px;
  top: -100px;
  width: 680px;
  mix-blend-mode: screen;
  opacity: 0.8;
}
.section--hero .hero--form-row {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.section--hero .hero--form-label {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  display: flex;
  align-items: center;
  color: #9c94f4;
  margin-bottom: 24px;
}
.section--hero .hero--form-input {
  width: 300px;
  background: #111044;
  box-shadow: 3px -2px 7px rgba(195, 22, 255, 0.35), inset 0px 0px 10px rgba(193, 138, 237, 0.54), inset 0px 0px 0px 1px rgba(192, 138, 237, 0.955);
  -webkit-backdrop-filter: blur(12px);
          backdrop-filter: blur(12px);
  border-radius: 20px;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #8a86bf;
  padding: 8px 16px;
}
.section--hero .hero--form-input::-moz-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #8a86bf;
}
.section--hero .hero--form-input:-ms-input-placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #8a86bf;
}
.section--hero .hero--form-input::placeholder {
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 120%;
  /* or 22px */
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #8a86bf;
}
.section--ametist {
  width: 100%;
  height: auto;
  min-height: 1100px;
  margin-bottom: -520px;
  background: url("/assets/images/background/Фон космос.png");
  background-position: center -40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.section--elecsir {
  width: 100%;
  height: auto;
  min-height: 1100px;
  margin-bottom: -380px;
}
.section--amulet {
  width: 100%;
  height: auto;
  min-height: 1226px;
  margin-bottom: -380px;
  background: url("/assets/images/background/Фон звезды.png");
  background-position: center -40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.section--payment {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 1100px;
  background: url("/assets/images/background/Фон оплаты.png");
  background-position: center -40px;
  background-size: cover;
  background-repeat: no-repeat;
}
.section--payment-devider {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.section--payment-devider.top {
  top: -22px;
}
.section--payment-devider.bottom {
  bottom: -22px;
}
.section--payment-devider-line::before, .section--payment-devider-line::after {
  content: "";
  position: absolute;
  width: calc(50% - 120px);
  height: 1px;
  background: #404e88;
}
.section--payment-devider-line::before {
  left: 0;
}
.section--payment-devider-line::after {
  right: 0;
}
.section--payment-devider-line.top::before, .section--payment-devider-line.top::after {
  top: 0;
}
.section--payment-devider-line.bottom::before, .section--payment-devider-line.bottom::after {
  bottom: 0;
}
.section--payment .payment--step-wrapper {
  display: flex;
  flex-direction: row;
  gap: 64px;
}
.section--payment .payment--step-item {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.section--payment .payment--step-item-image {
  width: 260px;
}
.section--payment .payment--step-item-text {
  max-width: 100%;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 120%;
  /* or 34px */
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  /* Text/Color1 */
  color: #bbb8e2;
  text-shadow: 0px 9px 15px #0b1836, 0px 4px 4px rgba(0, 0, 0, 0.6);
}
.section--payment .varanty--list-wrapper {
  max-width: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 34px;
}
.section--payment .varanty--list-item {
  display: flex;
  flex-direction: row;
  gap: 54px;
  align-items: center;
}
.section--payment .varanty--item-image {
  width: 88px;
  height: 88px;
  display: flex;
}
.section--payment .varanty--item-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  line-height: 38px;
  display: flex;
  align-items: center;
  font-feature-settings: "pnum" on, "lnum" on;
  color: #ccd1f7;
}
.section--varanty {
  z-index: 2;
  width: 100%;
  height: auto;
}
.section--feedback {
  width: 100%;
  height: auto;
  min-height: 944px;
  margin-bottom: -520px;
  background: url("/assets/images/background/Фон Форма обратной связи.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.button-cristal {
  position: relative;
  height: 50px;
  width: 189px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(105.68deg, #eb3fda 0.25%, #cb18b9 11.71%, #564ab5 64.84%, #3473d2 87.75%, #177fde 100.25%);
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: 0px 2.98148px 7.17207px rgba(0, 0, 0, 0.32), 0px 0px 8.86871px rgba(0, 0, 0, 0.4);
  border-radius: 44px;
  pointer-events: all;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  box-shadow: 0px 2.98148px 7.17207px rgba(0, 0, 0, 0.32), 0px 0px 8.86871px rgba(0, 0, 0, 0.4);
}
.button-cristal span {
  z-index: 3;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  font-feature-settings: "pnum" on, "lnum" on;
  font-weight: 700;
  font-size: 18px;
  color: #dddcff;
  text-shadow: 0px -1.98765px 3.9753px rgba(255, 255, 255, 0.71), 0px 0.993826px 0.993826px rgba(40, 46, 108, 0.65), 0px 1.98765px 1.98765px rgba(42, 29, 96, 0.67);
}
.button-cristal-stars, .button-cristal-blink {
  position: absolute;
  left: 0;
  top: 0;
  height: 50px;
  width: 189px;
  -o-object-fit: cover;
     object-fit: cover;
}
.button-cristal-stars {
  z-index: 2;
  mix-blend-mode: screen;
}
.button-cristal-blink {
  z-index: 1;
}

header {
  z-index: 1200;
  position: fixed;
  left: auto;
  top: -11px;
  right: auto;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin: 0 auto;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header--content {
  width: 1100px;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding: 0 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 72px;
}
.header--content-wrapper {
  width: 1520.38px;
  height: 246px;
  margin: 0 auto;
  background: url("/assets/images/Плашка Меню.png");
  background-position: center -10px;
  background-size: 100% 246px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 15px 0;
}
.header--menu-list {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 48px;
  color: #ccd1f7;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  pointer-events: all;
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
}
.header--logo {
  height: 110px;
  transform: translateY(10px);
}
.header--logo-wrapper {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  width: auto;
}